<p id="notice"><%= notice %></p>

<h1>Channels</h1>
<br>
<%= link_to 'New Channel', new_channel_path %>
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Desc</th>
      <th>Class</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%= will_paginate %>
  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.desc %></td>
        <td><%= channel.classs %></td>
        <td><%= channel.total %></td>
        <td><%= link_to 'Show', channel %></td>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
        <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>
