<%= form_with(model: cal_month_sale) do |form| %>
  <% if cal_month_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cal_month_sale.errors.count, "error") %> prohibited this cal_month_sale from being saved:</h2>

      <ul>
        <% cal_month_sale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :calendar_month_desc %>
    <%= form.date_select :calendar_month_desc %>
  </div>

  <div class="field">
    <%= form.label :dollars %>
    <%= form.number_field :dollars %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
