<%= form_with(model: cal_time) do |form| %>
  <% if cal_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cal_time.errors.count, "error") %> prohibited this cal_time from being saved:</h2>

      <ul>
        <% cal_time.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :datefull %>
    <%= form.date_select :datefull %>
  </div>

  <div class="field">
    <%= form.label :day_number_in_week %>
    <%= form.number_field :day_number_in_week %>
  </div>

  <div class="field">
    <%= form.label :day_number_in_month %>
    <%= form.number_field :day_number_in_month %>
  </div>

  <div class="field">
    <%= form.label :calendar_week_number %>
    <%= form.number_field :calendar_week_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
