<p id="notice"><%= notice %></p>

<h1>Cal Times</h1>
<br>
<%= link_to 'New Cal Time', new_cal_time_path %>
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Datefull</th>
      <th>Day number in week</th>
      <th>Day number in month</th>
      <th>Calendar week number</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%= will_paginate %>
  <tbody>
    <% @cal_times.each do |cal_time| %>
      <tr>
        <td><%= cal_time.datefull %></td>
        <td><%= cal_time.day_number_in_week %></td>
        <td><%= cal_time.day_number_in_month %></td>
        <td><%= cal_time.calendar_week_number %></td>
        <td><%= link_to 'Show', cal_time %></td>
        <td><%= link_to 'Edit', edit_cal_time_path(cal_time) %></td>
        <td><%= link_to 'Destroy', cal_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>

