<p id="notice"><%= notice %></p>

<h1>Costs</h1>
<br>
<%= link_to 'New Cost', new_cost_path %>
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Channel</th>
      <th>Product</th>
      <th>Unit cost</th>
      <th>Unit price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%= will_paginate %>
  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.channel.desc %></td>
        <td><%= cost.product.device_name %></td>
        <td><%= cost.unit_cost %></td>
        <td><%= cost.unit_price %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>
