<p id="notice"><%= notice %></p>

<h1>Man Prods</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @man_prods.each do |man_prod| %>
      <tr>
        <td><%= man_prod.manufacturer_id %></td>
        <td><%= man_prod.product_id %></td>
        <td><%= link_to 'Show', man_prod %></td>
        <td><%= link_to 'Edit', edit_man_prod_path(man_prod) %></td>
        <td><%= link_to 'Destroy', man_prod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Man Prod', new_man_prod_path %>
