<p id="notice"><%= notice %></p>

<p>
  <strong>Promo name:</strong>
  <%= @promotion.promo_name %>
</p>

<p>
  <strong>Promo cost:</strong>
  <%= @promotion.promo_cost %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @promotion.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @promotion.end_date %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
