<%= form_with(model: supp_demographic) do |form| %>
  <% if supp_demographic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supp_demographic.errors.count, "error") %> prohibited this supp_demographic from being saved:</h2>

      <ul>
        <% supp_demographic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :education %>
    <%= form.text_field :education %>
  </div>

  <div class="field">
    <%= form.label :household_size %>
    <%= form.number_field :household_size %>
  </div>

  <div class="field">
    <%= form.label :years_residence %>
    <%= form.number_field :years_residence %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
