<p id="notice"><%= notice %></p>

<h1>Supp Demographics</h1>

<table>
  <thead>
    <tr>
      <th>Education</th>
      <th>Household size</th>
      <th>Years residence</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supp_demographics.each do |supp_demographic| %>
      <tr>
        <td><%= supp_demographic.education %></td>
        <td><%= supp_demographic.household_size %></td>
        <td><%= supp_demographic.years_residence %></td>
        <td><%= supp_demographic.comment %></td>
        <td><%= link_to 'Show', supp_demographic %></td>
        <td><%= link_to 'Edit', edit_supp_demographic_path(supp_demographic) %></td>
        <td><%= link_to 'Destroy', supp_demographic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supp Demographic', new_supp_demographic_path %>
