<p id="notice"><%= notice %></p>

<p>
  <strong>Education:</strong>
  <%= @supp_demographic.education %>
</p>

<p>
  <strong>Household size:</strong>
  <%= @supp_demographic.household_size %>
</p>

<p>
  <strong>Years residence:</strong>
  <%= @supp_demographic.years_residence %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @supp_demographic.comment %>
</p>

<%= link_to 'Edit', edit_supp_demographic_path(@supp_demographic) %> |
<%= link_to 'Back', supp_demographics_path %>
