<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= will_paginate %>
    <% (0..@products.length - 1).step(3).each do |i| %>
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-4 text-center">
            <% if !@products[i].nil? %>
              <%= render @products[i] %>
            <% end %>
          </div>
          <div class="col-sm-4 text-center">
            <% if !@products[i+1].nil? %>
              <%= render @products[i+1] %>
            <% end %>
          </div>
          <div class="col-sm-4 text-center">
            <% if !@products[i+2].nil? %>
              <%= render @products[i+2] %>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <br>
    <% end %>
<%= will_paginate %>
<br>
<% if !current_user.nil? && current_user.admin? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>