<p id="notice"><%= notice %></p>

<p>
  <strong>Device name:</strong>
  <%= @product.device_name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @product.manufacturer %>
</p>

<p>
  <strong>Device platform:</strong>
  <%= @product.device_platform %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @product.min_price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
