<p id="notice"><%= notice %></p>

<h1>Sales</h1>
<br>
<%= link_to 'New Sale', new_sale_path %>
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th>Amount sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%= will_paginate %>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.user.name %></td>
        <td><%= sale.product.device_name %></td>
        <td><%= sale.amount_sold %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>
